// подключаем файлы Bootstrap
@import"../../src/less/bootstrap.less";

// подключаем  файл с переменными
@import"variables.less";

header {
    background: url(../images/bg_logo.png) no-repeat top center / cover;
    height: 700px;
    .logo {
        img {
            margin-top: 44px;
        }
    }
    .top-menu  {
        text-align: right;

        .menu {
            padding: 0;
            margin: 0;
            display: block;
            li {
                display: inline;
                margin-right: 38px;
                margin-top: 40px;

                a {
                    text-decoration: none;
                    text-transform: uppercase;
                    color: #fff;
                    font-size: 14px;
                }
            }
        }
    }

}